{% extends 'base/base.html' %}
{% block header %}
<script src="{{ static("js/vue.js") }}"></script>
<script src="{{ static("js/vue-resource.js") }}"></script>
{% endblock header %}
{% block title_content %}
    <div class="row border">
    <div class="col-5">
    <i class="fa fa-cog"></i>
      Liquidacion De Parcial {{ data.ordinal_partial }} del Pedido {{ data.nro_order }} [ID:{{ data.current_partial.partial.id_parcial }}] 
    {% if data.current_partial.partial.bg_isclose %}
      <span class="badge badge-success">Abierto</span>
    {% else %}
      <span class="badge badge-secondary">Cerrado</span>
    {% endif %}
    Total Parciales: {{ data.total_parcials }}
    
  </div>
  <div class="col-7 text-right">
    <span><a href=" {{ data.current_partial.partial.url_dai_1 }} "> Ref: {{ data.current_partial.info_invoice.info_invoice.nro_refrendo }}  </a></span>
    <span>| Exaduana</span>
    <span>| Liq: {{ data.current_partial.partial.nro_liquidacion }} </span>
    <span>| F. Llegada:  {{ data.current_partial.partial.fecha_llegada_cliente.strftime('%d/%m/%Y') }} </span>
    <span></span>
  </div>
</div>
{% endblock title_content %}
{% block content %}
<div id="app">
  <div class="row" v-if="ajax_request == false">
    <div class="col-12">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td style="width:100px;" class="text-right bg-light">Pedido:</td>
            <td> {{ data.complete_order_info.order.nro_pedido }}</td>
            <td style="width:100px;" class="text-right bg-light">Proveedor:</td>
            <td>{{ data.complete_order_info.order.proveedor }} </td>
            <td style="width:100px;" class="text-right bg-light">Factura:</td>
            <td>{{ data.current_partial.info_invoice.info_invoice.nro_factura_informativa }}</td>
            <td style="width:100px;" class="text-right bg-light">Moneda:</td>
            <td>{{ data.complete_order_info.order_invoice.order_invoice.moneda }}</td>
            <td style="width:100px;" class="text-right bg-light">T/C:</td>
            <td>{{ data.complete_order_info.order_invoice.order_invoice.tipo_cambio }}</td>
          </tr>
          <tr>
            <td style="width:100px;" class="text-right bg-light">Incoterm:</td>
            <td class="text-danger">{{ data.complete_order_info.order.incoterm }}</td>
            <td style="width:100px;" class="text-right bg-light">Pais Origen:</td>
            <td>{{ data.complete_order_info.order.pais_origen }}</td>
            <td style="width:100px;" class="text-right bg-light">Ciudad Origen:</td>
            <td>{{ data.complete_order_info.order.ciudad_origen }}</td>
            <td style="width:100px;" class="text-right bg-light">Registrado Por:</td>
            <td>Pendiete</td>
            <td style="width:100px;" class="text-right bg-light">Fecha Registro:</td>
            <td>{{ data.current_partial.partial.date_create.strftime('%d/%m/%Y') }}</td>
          </tr>
          <tr>
            <td style="width:100px;" class="text-right bg-light">Comentarios:</td>
            <td colspan="9">{{ data.current_partial.partial.observaciones }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<div class="row">
<div class="col-7 div-bordered">
<div class="row">
<div class="col-1" style="padding-right:0px;padding-left: 0px;">
	<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
		<li class="nav-item text-right">
			<a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem"><span style="font-size:10px;">Iniciales <i class="fa fa-chevron-right"></i></span></a>
		</li>
		<li class="nav-item text-right">
			<a href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum"><span style="font-size:10px;">Parcial 1 <i class="fa fa-chevron-right"></i></span></a>
		</li>
		<li class="nav-item text-right">
			<a href="#dolor" class="nav-link" data-toggle="tab" role="tab" aria-controls="dolor"><span style="font-size:10px;">Parcial 2 <i class="fa fa-chevron-right"></i></span></a>
		</li>
		<li class="nav-item text-right">
			<a href="#sit-amet" class="nav-link" data-toggle="tab" role="tab" aria-controls="sit-amet"><span style="font-size:10px;"><i class="fa fa-hand-point-right"></i>Parcial 3 <i class="fa fa-chevron-right"></i></span></a>
		</li>
	</ul>

</div>
<div class="col-11 tab-content" style="padding-left: 0px;">
<div class="text-tittle"> RESUMEN DE ESTADO GASTOS GENERALES</div>
<div class="tab-pane fade show active" id="lorem" role="tabpanel">
		<table class="table table-condensed table-striped table-bordered"><tbody><tr style="background-color: rgb(255, 255, 255);"><th class="text-center"><i class="fa fa-list"></i></th> <th class="text-center">CONCEPTO</th> <th class="text-center">VALOR</th> <th class="text-center">FACTURADO</th> <th class="text-center">SALDO</th> <th class="text-center">MAYOR</th></tr> <tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><small class="text-success"><i class="fa fa-check-circle"></i></small>
               FACTURA VIÑA CONCHA Y TORO S.A.
            </td> <td class="text-right">  28635.00</td> <td class="text-right">  28635.00</td> <td class="text-right">  0.00</td> <td class="text-right">  28635.00</td></tr> <tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><small class="text-success"><i class="fa fa-check-circle"></i></small>
               GASTOS ORIGEN
            </td> <td class="text-right">  0.00 </td> <td class="text-right">  0.00 </td> <td class="text-right">  0.00</td> <td class="text-right">  0.00</td></tr> <tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><small class="text-success"><i class="fa fa-check-circle"></i></small>
            TRIBUTOS SENAE
            </td> <td class="text-right"> 18078.97</td> <td class="text-right"> 18078.97</td> <td class="text-right"> 0.00</td> <td class="text-right"> 18078.97</td></tr> <tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><small class="text-secondary"><i class="fa fa-puzzle-piece"></i></small> <!----> <!---->
              AGENTE INICIAL FISICO
            </td> <td class="text-right">257.00</td> <td class="text-right">231.60</td> <td class="text-right">25.40</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              ALMACENAJE INICIAL
            </td> <td class="text-right">373.78</td> <td class="text-right">373.78</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              CUSTODIA ARMADA
            </td> <td class="text-right">490.00</td> <td class="text-right">490.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              DESCARGA
            </td> <td class="text-right">150.00</td> <td class="text-right">150.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              DEVOLUCION DE CONTENEDOR
            </td> <td class="text-right">40.00</td> <td class="text-right">40.00</td> <td class="text-right">0.00</td> <td class="text-right">40.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              ETIQUETAS FISCALES
            </td> <td class="text-right">2691.00</td> <td class="text-right">2691.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              FLETE
            </td> <td class="text-right">200.00</td> <td class="text-right">200.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              GASTOS LOCALES
            </td> <td class="text-right">248.00</td> <td class="text-right">248.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              ISD
            </td> <td class="text-right">1431.75</td> <td class="text-right">1431.75</td> <td class="text-right">0.00</td> <td class="text-right">1431.75</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              MANO DE OBRA ETIQUETADO
            </td> <td class="text-right">621.00</td> <td class="text-right">621.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              POLIZA SEGURO
            </td> <td class="text-right">119.00</td> <td class="text-right">119.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              THC
            </td> <td class="text-right">184.23</td> <td class="text-right">184.23</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr><tr><td class="text-center text-primary"><i class="fa fa-chevron-right"></i></td> <td><!----> <small class="text-success"><i class="fa fa-check-circle"></i></small> <!---->
              TRANSPORTE INTERNO EXTRAPESADOUIO-GYE
            </td> <td class="text-right">750.00</td> <td class="text-right">750.00</td> <td class="text-right">0.00</td> <td class="text-right">0.00</td></tr> <tr><th colspan="2">Sumas</th> <th class="text-right">54269.73</th> <th class="text-right">54244.33</th> <th class="text-right">25.40</th> <th class="text-right">48185.72</th></tr></tbody></table>
		</div>
		<div class="tab-pane fade" id="ipsum" role="tabpanel">
			<table class="table table-condensed table-striped table-bordered"><tbody><tr style="background-color: rgb(255, 255, 255);"><th class="text-center"><i class="fa fa-list"></i></th> <th class="text-center">CONCEPTO</th> <th class="text-center">VALOR</th> <th class="text-center">FACTURADO</th> <th class="text-center">SALDO</th> <th class="text-center">MAYOR</th></tr>
			</table>
		</div>
		<div class="tab-pane fade" id="dolor" role="tabpanel">
			<table class="table table-condensed table-striped table-bordered"><tbody><tr style="background-color: rgb(255, 255, 255);"><th class="text-center"><i class="fa fa-list"></i></th> <th class="text-center">CONCEPTO</th> <th class="text-center">VALOR</th> <th class="text-center">FACTURADO</th> <th class="text-center">SALDO</th> <th class="text-center">MAYOR</th></tr>
			</table>
		</div>
		<div class="tab-pane fade" id="sit-amet" role="tabpanel">
			<table class="table table-condensed table-striped table-bordered"><tbody><tr style="background-color: rgb(255, 255, 255);"><th class="text-center"><i class="fa fa-list"></i></th> <th class="text-center">CONCEPTO</th> <th class="text-center">VALOR</th> <th class="text-center">FACTURADO</th> <th class="text-center">SALDO</th> <th class="text-center">MAYOR</th></tr>
			</table>
		</div>
	</div>
</div>
<a href="" class="btn btn-sm btn-outline-dark"><i class="fa fa-file-pdf"></i>   Reporte de Gastos</a>
<a href="" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#modal-prorrateos"><i class="fas fa-chart-pie"></i>   Prorrateos de Pedido</a>

<br />
<br />
<br />
</div>
<div class="col-5 div-bordered">
  <div class="text-tittle">
  Descripci&oacute;n de Gasto
  </div>
</div>
</div>
{% include 'costings/prorrateos-modal.html' %}
</div>
{% endblock content %}
{% block script %}
   {% include "js/app_partial_costings.js" %}
{% endblock script %}