{% extends 'base/base.html' %}
{% block content %}
Para continuar seleccione el parcial que desea liquidar
        <table class="table table-condensed table-bordered">
        <thead>
        <tr>
        <th>Parcial</th>
        <th>Estado</th>
        <th>Nro Fac Inf</th>
        <th>Fecha Emisión</th>
        <th>Fecha Llegada</th>
        <th>DAI</th>
        <th>Cajas</th>
        <th>Moneda</th>
        <th>TC</th>
        <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        {% if data.parcials %}
        {% for partial in data.parcials  %}
        <tr>        
            <td> <a href="{{ BASE_URL }}costos/parciales/{{partial.partial.partial_url}}"><i class="fa fa-chevron-right"></i> Parcial {{ loop.index }}</a> </td>
            <td> 
            {% if partial.partial.bg_isclosed %}
              <span class="text-dark"> <i class="far fa-folder"></i> Cerrado </span>
            {% else %}
              <span class="text-success"> <i class="far fa-folder-open"></i> Abierto </span>
            {% endif %}
            /
            {% if partial.partial.bg_isliquidated  %}
              <span class="text-dark"> <i class="fas fa-check"></i> Liquidación Ingresada</span>
            {% else %}
              <span class="text-success"> <i class="fa fa-ban"></i> Sin Liquidación </span>
            {% endif %}
            </td>
            <td class="text-right">{{ partial.info_invoice.nro_factura_informativa }}</td>
            <td class="text-right">{{ partial.info_invoice.fecha_emision  }}</td>
            <td class="text-right">{{ partial.partial.fecha_llegada_cliente  }}</td>
            <td class="text-right">{{ partial.info_invoice.nro_refrendo }}</td>      
            <td class="text-right">
            {% if partial.info_invoice.tipo_cambio != 1 %} 
              EUROS
            {% else %}
              DOLARES
            {% endif %}
            </td>
            <td class="text-right">{{ partial.info_invoice.tipo_cambio }}</td>
            <td class="text-right">{{ partial.info_invoice.total_value }} </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr></tr>
        </tbody>
        </table>      
        {% endblock content %}