<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Eduardo Villota eduardouio7@gmail.com">
    <meta name="description" content="Aplicacion de Manejo de importaciones">
    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/cordovez.css') }}">
    <style>@page {size: auto;}</style>
    <link rel="icon" href="{{ static('favicon.ico') }}" type="image/x-icon"/>
	  <link rel="shortcut icon" href="{{ static('favicon.ico') }} type="image/x-icon"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
      var host = '{{ data.host }}'
    </script>
    {% block header %}{# librerias js adicionales #}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>{{ data.title_page }}</title>
</head>
<body>    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{ data.empresa.nombre }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-dark" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#"> Pedidos <span class="sr-only">(current)</span></a>
        </li>
        {# menu adicional #}
        {# <li class="nav-item"> #}
        {#   <a class="nav-link" href="#">About</a> #}
        {# </li> #}
      </ul>
      <form class="form-inline" method="get" action="/pedidos/listar/">
        <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Buscar" name="q">
        <button class="btn btn-outline-primary my-sm-0" type="submit"> <i class="fas fa-search"></i></button>
      </form>
        <a href="/salir" class="btn btn-outline-danger my-sm-0" style="margin-left:1rem;"><i class="fas fa-power-off" aria-hidden="true"></i></a>
    </div>
  </nav>
  </body>
  <div class="container-fluid">
    {% block title_content %}{% endblock title_content %}
    <div class="row" style="padding:1px"></div>
    {% block content %} {% endblock %}
  </div>
  <br>
  <footer class="footer">
  <div class="container-fluid">  
  <div class="row">
  <div class="col-12 text-right" style="line-height: 1">
  <div style="border-right:0.04rem solid teal;padding:0.3rem">
  <small>
        {{ data.host }}  
        🏢 &copy;Todos los Derechos reservados<br>
        💻: Eduardo Villota M.
        <br />
        📧: <a href="mailto:eduardouio7@gmail.com">eduardouio7@gmail.com</a>
      </small>
  </div>
  </div>
  </div>
  </div>
</footer>
<script src="{{ static("js/jquery-3.3.1.slim.min.js") }}"></script>
<script src="{{ static("js/bootstrap.min.js") }}"></script>
<script>
  {% block script %}
  {% endblock script %}
</script>
{% block footer %}
{% endblock %}
</body>
</html>