{% extends 'base/base.html' %}
    {% block title_content %}
    <div class="row border">
   <div class="col-8">
      <i class="fa fa-list"></i>
      Ficha individual de Producto
   </div>
   <div class="col-4 text-right">SGI <small>[Sistema Gestón de Importaciones] | Módulo Productos</small></div>
</div>
{% endblock title_content %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <a href="/productos/crear/" class="btn btn-outline-primary"> <i class="fas fa-plus"></i> Nuevo Producto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if data.updated %}
                <div class="alert alert-success">
                    Producto Actualizado Correctamente!
                </div>
            {%endif%}
            {% if data.created %}
                <div class="alert alert-primary">
                    Producto Creado Correctamente!
                </div>
            {%endif%}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">{{ object }} </th>
                    </tr>
                </thead>
                    <tr>
                        <td class="text-right bg-light">Codigo Contable: </td>
                        <td> {{ object.pk }} </td>
                        <td class="text-right bg-light">Nombre Producto SAP:</td>
                        <td> {{ object.nombre }} </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Capacidad ML: </td>
                        <td> {{ object.capacidad_ml }} </td>
                        <td class="text-right bg-light">Cantidad Por Caja:</td>
                        <td> {{ object.cantidad_x_caja }} </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Costo Caja: </td>
                        <td> {{ object.costo_caja | round(2) }} </td>
                        <td class="text-right bg-light">Grado Alch&oacute;lico:</td>
                        <td> {{ object.grado_alcoholico | round(2)}} </td>
                    </tr>
                     <tr>
                        <td class="text-right bg-light">Proveedor: </td>
                        <td> <a href="/admin/suppliers/supplier/{{object.identificacion_proveedor_id}}/change/"><i class="fas fa-user"></i></a>  {{ object.identificacion_proveedor }}</td>
                        <td class="text-right bg-light">Nombre Extrangero:</td>
                        <td> 
                            {% if object.nombre_extrangero  %}
                                {{ object.nombre_extrangero }} 
                            {% else %}
                                --
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Registro Sanitario: </td>
                        <td>
                            {% if  object.nro_registro_sanitario  %}
                                {{ object.nro_registro_sanitario }}
                                {% if object.registro_sanitario %}
                                    <a href="/media/{{ object.registro_sanitario }}">
                                        <i class="fas fa-file-pdf"></i>
                                    </a>
                                {%endif%}
                            {% else %}
                                --
                            {%endif%} 
                         </td>
                        <td class="text-right bg-light">Vencimiento Registro:</td>
                        <td> 
                            {% if  object.fecha_vencimiento_registro  %}
                                {{ object.fecha_vencimiento_registro }} 
                            {% else %}
                                --
                            {%endif%} 
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Emision Registro: </td>
                        <td> 
                            {% if  object.fecha_emision_registro  %}
                                {{ object.fecha_emision_registro }} 
                            {% else %}
                                --
                            {%endif%} 
                        </td>
                        <td class="text-right bg-light">Estado Registro:</td>
                        <td> 
                            {% if  object.estado_registro  %}
                                {{ object.estado_registro }} 
                            {% else %}
                                --
                            {%endif%} 
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Partida Arancelaria: </td>
                        <td> 
                            {% if  object.partida_arancelaria  %}
                                {{ object.partida_arancelaria }} 
                            {% else %}
                                --
                            {%endif%} 
                        </td>
                        <td class="text-right bg-light">Subpartida:</td>
                        <td> 
                            {% if  object.subpartida_arancela  %}
                                {{ object.subpartida_arancelaria }} 
                            {% else %}
                                --
                            {%endif%} 
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Codigo TNAN: </td>
                        <td> 
                            {% if  object.tnan_codigo  %}
                                {{ object.tnan_codigo }} 
                            {% else %}
                                --
                            {%endif%} 
                        </td>
                        <td class="text-right bg-light">Peso:</td>
                            <td> {{ object.peso }} </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">C&oacute;digo ICE: </td>
                        <td> 
                            {% if  object.cod_ice  %}
                                {{ object.cod_ice }} 
                            {% else %}
                                <strong class="text-danger">PRODUCTO SIN COD ICE</strong>
                            {%endif%} 
                        </td>
                        <td class="text-right bg-light">Pais Origen:</td>
                        <td> {{ object.pais_origen }} </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Estado: </td>
                        <td> 
                            {% if object.estado %}
                                <span class="badge badge-success">Activo</span>
                                {% else %}
                                <span class="badge badge-danger">Inactivo</span>
                            {%endif%}
                        </td>
                        <td class="text-right bg-light">Comentarios:</td>
                        <td> 
                            {% if object.comentarios %}
                                {{ object.comentarios }} 
                            {% else %}
                            --
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right bg-light">Actualizacion: </td>
                        <td> 
                            {{ object.last_update }}
                        </td>
                        <td class="text-right bg-light">Fecha Registro:</td>
                        <td> {{ object.date_create }} </td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <a href="/productos/editar/{{ object.pk}}/" class="btn btn-outline-primary"><i class="fas fa-pen"></i> Modificar </a>
            <a href="/productos/" class="btn btn-outline-primary"><i class="fas fa-list"></i> Volver a Lista </a>
        </div>
    </div>
</div>
{% endblock content %}