<!-- Modal -->
<div class="modal fade" id="modal-archivos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">SGI Archivos del Parcial {{ data.ordinal_partial }} del pedido {{ data.nro_order }}  <strong>Moneda: {{ data.complete_order_info.order_invoice.order_invoice.moneda | upper }}</strong></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="text-tittle">Listado de Archivos Existentes</div>
        <table class="table table-bordered table-condensed">
        <thead>
        <tr>
        <th>#</th>
        <th>ID</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Observaciones</th>
        <th>Creado el</th>
        <th>Es Valido</th>
        <th>Archivo</th>
        </tr>
        </thead>
        <tbody>
        {% for file in data.current_partial.files %}
        <tr>
        <td class="text-center">{{ loop.index }}</td>
        <td>{{file.id_registro}}</td>
        <td>{{file.usuario | upper}}</td>
        <td>{{file}}</td>
        <td>{{file.obserbaciones}}</td>
        <td>{{file.date_create}}</td>
        <td class="text-center">
        {% if file.bg_isvalid %}
            <i class="fas fa-ceck text-success"></i>
        {% else %}
            <i class="fas fa-ban text-danger"></i>
        {% endif %}
        </td>
        <td> <a href="/media/{{file.archivo}}" target="_blank"><i class="fas fa-download"></i></a></td>

        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
        <div class="modal-footer">
        <div class="container">
        <div class="row">
        <div class="col-10">
          <div class="alert alert-dark">
            <i class="fas fa-info-circle"></i>    Los archivos de este listado solo pertenecen al presente registro
          </div>
        </div>
        <div class="col-2 text-right">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close"><i class="fa fa-check"></i> Cerrar</button>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>