{% load static %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
    <div class="card" style="width: 25rem;">
  <div class="card-header">
    <span class="fas fa-stop"></span> ¡Contenido Inexistente!  ☹
  </div>
    <img class="card-img-top" src="{% static "img/notfound.png" %}" alt="Contenido no encontrado" width="100" >
  <div class="card-body">
    <h5 class="card-title">El contenido que está intendado ver no existe</h5>
    <p class="card-text">El contenido no está presente en el servidor, es posible que haya sido eliminado o bloqeado</p>
    <a href="{{ BASE_URL }}admin/orders/order/" class="btn btn-primary">Volver a la lista de Pedidos</a>
  </div>
  </div>
    </div>
    <div class="col-4"></div>
</div>