{% extends 'base/base.html' %}
{% block title_content %}
    <div class="row border">
    <div class="col-6">
    <i class="fa fa-boxes"></i>
      Saldos Generales Pedidos Agencia Y Representaciones Cordovez S.A.
    </div>
  <div class="col-6 text-right">
    <span>| Total Producto:</span>
    <span>| Total Provisiones: </span>
    <span>| Total Facturas: </span>
    <span>| </span>
  </div>
</div>
{% endblock title_content %}
{% block content %}
    <div class="row">
    <div class="col-7">
    <div class="text-tittle">
        Listado de Pedidos
    </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
            <th colspan="3"> Detalle Pedido </th>
            <th colspan="3"> Producto </th>
            <th colspan="3"> Provisiones </th>
            <th rowspan="2">Saldo General</th>
            </tr>
            <tr>
            <th>#</th>
            <th>Nro Pedido</th>
            <th>Proveedor</th>
            <th>Impotado</th>
            <th>Nacionalizado</th>
            <th>Saldo</th>
            <th>Totales</th>
            <th>Facturado</th>
            <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data.sales %}            
            <tr>
            <td> <i class="fas fa-chevron-right text-primary"></i> {{ loop.index }}</td>
            <td class="text-center">{{ item.product_sale.nro_order.replace('-','/')}}</td>
            <td>{{ item.product_sale.supplier}}</td>
            <td class="text-right">{{ "%.3f" | format(item.product_sale.totals.imported) }} a</td>
            <td class="text-right">{{ "%.3f" | format(item.product_sale.totals.nationalized) }}c</td>
            <td class="text-right">{{ "%.3f" | format(item.product_sale.totals.sale) }}</td>
            <td class="text-right">{{ "%.3f" | format(item.expenses_sale.totals.invoiced) }}b</td>
            <td class="text-right">{{ "%.3f" | format(item.expenses_sale.totals.provision) }}</td>
            <td class="text-right">{{ "%.3f" | format(item.expenses_sale.totals.sale) }}</td>
            <td class="text-right text-success"> <strong> {{ "%.3f" | format(item.product_sale.totals.imported + item.expenses_sale.totals.invoiced - item.product_sale.totals.nationalized) }} </strong></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-5">
    <div class="text-tittle">
        Detalle saldos del Pedido
    </div>
    </div>
    </div>
{% endblock content %}

