{# plantilla manejada por Django #}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Parciales Pedido  {{ order.order.nro_pedido }} [{{ order.order.incoterm }}] </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-condensed table-bordered">
        <thead>
        <tr>
        <th>Parcial</th>
        <th>Estado</th>
        <th>Nro Fac Inf</th>
        <th>Fecha Emisión</th>
        <th>Fecha Llegada</th>
        <th>DAI</th>
        <th>Cajas</th>
        <th>Moneda</th>
        <th>TC</th>
        <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        {% for partial in order.parcials  %}
        <tr>        
            <td> <a href="{{ BASE_URL }}costos/parciales/{{partial.partial.partial_url}}"><i class="fa fa-chevron-right"></i> Parcial {{ forloop.counter }}</a> </td>
            <td> 
            {% if partial.partial.bg_isclosed %}
              <span class="text-dark"> <i class="far fa-folder"></i> Cerrado </span>
            {% else %}
              <span class="text-success"> <i class="far fa-folder-open"></i> Abierto </span>
            {% endif %}
            /
            {% if partial.partial.bg_isliquidated  %}
              <span class="text-dark"> <i class="fas fa-check"></i> Liquidación Ingresada</span>
            {% else %}
              <span class="text-success"> <i class="fa fa-ban"></i> Sin Liquidación </span>
            {% endif %}
            </td>
            <td class="text-right">{{ partial.info_invoice.nro_factura_informativa }}</td>
            <td class="text-right">{{ partial.info_invoice.fecha_emision | date:"d/m/Y" }}</td>
            <td class="text-right">{{ partial.partial.fecha_llegada_cliente | date:"d/m/Y" }}</td>
            <td class="text-right">{{ partial.info_invoice.nro_refrendo }}</td>
            <td class="text-right">{{ partial.info_invoice.info_invoice_details_sums.boxes }}</td>
            <td class="text-right">
            {% if partial.info_invoice.tipo_cambio != 1 %} 
              EUROS
            {% else %}
              DOLARES
            {% endif %}
            </td>
            <td class="text-right">{{ partial.info_invoice.tipo_cambio }}</td>
            <td class="text-right">{{ partial.info_invoice.total_value }} </td>
        </tr>
        {% endfor %}
        <tr></tr>
        </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal"> <i class="fa fa-check"></i> Ok</button>
      </div>
    </div>
  </div>
</div>